*.pyc
*.png
*.pkl
MuJoCo/logs/*
MuJoCo/expert_trajectories/*
MuJoCo/expert_controller_reward_log/*
MuJoCo/saved_expert_models/*
MuJoCo/.ipynb_checkpoints/*
MuJoCo/__pycache__/*
.DS_Store
.ipynb_checkpoints/*
__pycache__/*